* {
  font-family: 'Outfit', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  color: #d67eda;
  background-color: #a047a5;
}
.tenis{
display: flex;
flex-wrap: wrap;
margin-bottom: 20px;
width: 85%;
margin-left:150px;
}
.btnbanner {
  display: inline-block;
  position: absolute;
  right: 90px;
  top: 110px;
}
 
.btnbanner a {
  text-decoration: none;
  color: white;
  font-family: Outfit;
  text-shadow: 0px 1px 0px #a047a5;
}
 
.btnbanner ul {
  list-style: none;
  display: inline-block;
}
 
.btnbanner ul li {
  padding: 5px;
  display: table;
  margin: 2px;
  width: 300px;
  text-align: center;
  transition: 0.5s;
}
.btnbanner {
  display: inline-block;
  position: absolute;
  right: 40px;
  top: 110px;
}

  header {
    -webkit-box-shadow: 0px 0px 20px 1rem #000;
            box-shadow: 0px 0px 20px 1rem #000;;
    background: #000;
    position: relative;
    width: 100%;
    top: 0;
  }
  header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
    img {
      max-width: 100%;
    }
    
    h1, h2, h3 {
      font-weight: 600;
    }
    
    p {
      font-size: 18px;
      font-weight: 300;
    }
  
    .container {
          margin: 0 auto;
          padding: 8px 9px;
    }
    
    .card {
      background-color: #3d1438;
      -webkit-box-shadow: 0px 0px 20px 1rem #260d21;
              box-shadow: 0px 0px 20px 1rem #240d26;
      max-width: 20rem;
    }
    
    .card__info p:first-child {
      margin-bottom: 1rem;
    }
    
    .card__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      gap: 1rem;
      padding: 1.8rem;
    }
    
    .card__container h2 {
      color: white;
    }
    
    .card__container h2:hover {
      color: #d902d6;
      cursor: pointer;
    }
    

    .card__flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      gap: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #fff;
    }
    
    .card__flex .coin, .card__flex .time {
      display: -webkit-box;
      display: -ms-flexbox;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      gap: 0.5rem;
    }
    
    .card__flex .coin {
      color: #d902d6;
    }
    
    .card__creator {
      display: -webkit-box;
      display: -ms-flexbox;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
    }
    
    .card__creator .avatar {
      max-width: 2.5rem;
    }
   
    .card__creator--nick {
      font-weight: 400;
      color: white;
    }
    
    .card__creator--nick:hover {
      color: #d902d6;
      cursor: pointer;
    }
    
    .attribution {
      font-size: 11px;
      text-align: center;
    }
    
    .attribution a {
      color: #a047a5;
    }
    footer {
      -webkit-box-shadow: 0px 0px 20px 1rem #000;
              box-shadow: 0px 0px 20px 1rem #000;;
      background: #000;
      position: relative;
      width: 100%;
      top: 0;
    }
    footer{
      display: flex;
      justify-content: space-between;
      padding: 1rem;
    }
    .formularioContato { 

      max-width:600px; 
      height:auto; 
      float:none; 
      margin:auto; 
      padding:1em; 
      margin-bottom:1em; 
      border-radius:6px; 
      background:#fff; 
      box-shadow: 1px 0px 1.2px 0px #ccc; 
      position:relative; 
  }
  
  .formularioContato:before { 
  
      width:0; 
      height:0; 
      border:15px solid transparent; 
      border-bottom-color:#fff; 
      content:""; 
      position:absolute; 
      left:6%; 
      top:-4.5%; 
      margin-top:-4px; 
      margin-left:6px; 
      z-index:2;
  
  }
  
  .formularioContato label  { 
  
      float:left; 
      width:100%; 
      margin-bottom:1.2em; 
  
  }
  
  .formularioContato label span {
  
      width: 100%;
      float: left;
      color: gray;
      margin-bottom: 6px;
      font-family:'open_sansregular'; 
  
  }
  
  .formularioContato label input  { 
  
      font-size:1em; 
      color:#000; 
      font-family:'open_sansregular'; 
      outline:none; 
      border:1px #dee5ed solid; 
      border-radius:4px; 
      padding:0.6em; 
      transition: 0.3s;  
  
  }
  
  .formularioContato label select { 
  
      font-size:1em; 
      color:#000; 
      border:1px #dee5ed solid; 
      border-radius:4px; 
      padding:0.6em; 
      outline:none; 
      transition: 0.3s;  
  
  }
  
  .formularioContato label textarea { 
  
      font-size:1em; 
      color:#000; 
      border:1px #dee5ed solid; 
      border-radius:4px; 
      padding:0.6em; 
      outline:none;
      transition: 0.3s;   
  
  }
  
  .formularioContato label input:focus    { box-shadow:0 0 5px 0px rgb(178,216,231); border:1px #a047a5 solid; color:#a047a5;}
  .formularioContato label select:focus   { box-shadow:0 0 5px 0px rgb(178,216,231); border:1px #a047a5 solid; }
  .formularioContato label textarea:focus { box-shadow:0 0 5px 0px rgb(178,216,231); border:1px #a047a5 solid; color:#a047a5;}
  
  .formularioContato button.btn-envia { 
  
      background-color:#a047a5; 
      width:100%; display:block; 
      margin:auto; cursor:pointer; 
      border-radius:4px;  
      border:0; 
      padding:0.8em 0em; 
      color:#fff; 
      font-size:1.3em; 
      font-family:'open_sansbold'; 
      text-align: center;
      transition: 0.3s;   
  
  }
  
  .formularioContato button.btn-envia:hover { 
  
      background-color:#000; 
  
  }